@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
*{

    margin: 0;
    padding: 0; 
}
body{
    font-family: 'Poppins', sans-serif;
    transition: margin-right 2s;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.nav{
    margin: 0 auto;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header{
    margin-bottom: 150px;
    background: url(./source/img/aw.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1018px;
}
.brand{
    font-size: 40px;
    display: flex;
    align-items: center;
    font-weight: 800;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.n{
    width: 600px;
    font-weight: 700;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.n li{
    list-style: none;
}
.n a{
    font-weight: 800;
    color: rgb(255, 255, 255);
    transition: 1s;
    text-decoration: none;
}
.n a:hover{
    color: #999;
    transition: 1s;
}
.brand::before{
    width: 34px;
    content: url(/source/icons/developer.svg);
}
nav{
    width: 100%;
    position: fixed;
    background: rgba(255, 158, 158, 0.1);
}
.main{
    width: 65%;
    padding-top: 280px;
}
.main h1{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
    color:#cfb7b7dd;
    font-family: sans-serif;
}
.main h1 span{
    font-weight: 500;
    font-size: 20px;
    color: #ffff;
}
.icon{
    margin-top: 40px;
    width: 170px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 1rem;
}
.icon i{
    width: 50px;
    height: 50px;
}
.myWork{
    width: 180px;
    height: 50px;
    background: #ffff;
    transition: 1s ease;
    border-radius: 6px;
    font-weight: 600;
}
.myWork:hover{
    background-color: #797979;
    box-shadow: -5px 14px 20px 0px #797979;
    border-color: #ffff;
    color: #ffff;
    transition: 1s ease;
    border-radius: 17%;
}
.main .job{
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #ffff;
    margin-bottom: 3rem;
}
.icon i{
    width: 10px;
    height: 30px;
    color: white;
    transition: 1s ease;
}
.icon i:hover{
    color: #797979;
    transition: 1s ease;
}
.about-me{
    height: 500px;
}
.const{
    display: flex;
    align-items: normal;
    justify-content: space-between;
}
.about-img{
    width: 50%;
}
.about-img img{
    width: 400px;
}
.about-inf{
    width: 50%;
}
.title{
    margin-bottom: 11px;
    font-weight: 800;
    color: #797979;
}
.about-inf h1{
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 500;
}
.about-inf button{
    margin-top: 30px;
}
.skills-about{
    color: #ffff;
    width: 50%;
}
.skills-about button{
    margin-top: 40px;
}
.skills-about h1{
    font-size: 40px !important;
        margin-bottom: 40px;
}
.skills{
    width: 500px;
}
.skills-level{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 500px;
}
.skills-level .num{
    text-transform: uppercase;
    color: #ffff;
    display: flex;
    align-items: center; 
    width: 500px;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 600;
}
.vector{
    width: 100%;
    height: 20px;
    background-color: #ccc;
}
.lvl{
    border-radius: 4px;
}
.html .lvl{
    width: 82%;
    height: 20px;
    background-color: #E45126;
}
.css .lvl{
    width: 72%;
    height: 20px;
    background-color: rgb(33,150,243);
}
.JS .lvl{
    width: 54%;
    height: 20px;
    background-color: hwb(52 0% 1%);
}
.react .lvl{
    width: 32%;
    height: 20px;
    background-color: rgb(97,218,251);
}
.ht{
    display: flex;
    align-items: center;
}
.ht img{
    width: 20px;
    height: 20px;
    margin-left: 4px;
}
.cs{
    display: flex;
    align-items: center;
}
.cs img{
    margin-left: 5px;
    width: 20px;
}
.js{
    display: flex;
    align-items: center;
}
.js img{
    margin-left: 5px;
    width: 20px;
}
.re{
    display: flex;
    align-items: center;
}
.re img{
    margin-left: 5px;
    width: 25px;
}
.section-skills{
background: #000016;
margin-bottom: 150px;
margin-top: 150px;
height: 650px;
}
.section-skills .skills-about{
    margin-top: 100px;
}
.skills-level{
    margin-top: 150px;
}
.MyWork{
}
.MyWork h1{
    font-size: 40px;
    margin-bottom: 100px;
}
.MyWork img{
    margin-bottom: 30px;
    margin-top: 60px;
    width: 100%;
}
.MyWork h3{
    text-align: center;
}
.contact{
    margin-top: 250px;
    height: 500px;
}
.card{
    height: 250px;
    border-radius: 30px;
    width: 300px !important;
    background-color: #909cfb;
    margin-left: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.card-img img{
    margin-top: 15px;
    width: 100px;
    transition: 1s ease;
}
.card-img{
    height: 130px;
    text-align: middle;
}
.card-img img:hover{
    margin-top: 0;
    transition:1s ease;
}
.con{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cardt{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
}
.con p{
    color: #00116e;
}
.v{
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.contact .title{
    margin-bottom: 100px;
}
footer{
    margin-top: 100px;
    height: 180px;
    color: #ffff;
    background-color: #000016;
    text-align: center;
}
footer h1{
    padding-top: 50px;
    font-size: xx-large;
    line-height: 21px;
    margin-bottom: 22px;
}
b{
    display: none;
}
@media screen and (min-width: 480px) {
    *{
        width: 480px;
    }
    .b{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: space-evenly;
        background: none;
        flex-direction: column;
        border: none;
    }
    .main {
        width: 65%;
        padding-top: 60px;
    }
    header{
        height: 660px;
    }
    .rectongle{
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
    body{
        width: 480px;
        margin: 0 auto;
    }
    nav{
        display: flex;
        justify-content: space-between;
        width: 480px;
    }
    .about-img{
        width: 100%;
    }
    .const{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about-me{
        height: 1000px;
    }
    .about-inf{
        width: 100%;
    }
    .about-inf a{
        margin: 0 auto;
        width: 40%;
    } 
    .skills-about{
        width: 100%;
        margin-top: 12px;
    }
    .section-skills{
        height: 1200px;
    }
    .skills-level{
        margin-top: 40px;
        width: 100%;
    }
    .num{
        width:480px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .MyWork img{
            margin-bottom: 8px;
            margin-top: 20px;
    }
    .MyWork h1{
        margin-bottom: 10px !important;
    }
    .about-img img{
        width: 460px;
        margin: 0 auto;
    }
    .n{
        display: none;
    }
    .container{
        width: 98%;
        margin: 0 auto;
    }
    .contact{
        margin-top: 40px;
    }
    .contact .title{
        margin-top: 0;
        margin-left: 0 !important;
    }
    .l{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .card {
        width: 160px;
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    .card-img{
        width: 100px;
    }
    .con{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .v{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .contact{
        height: 1260px;
    }
  }
  